html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }


.title {
    font-family: 'Bungee', cursive;
    padding: 1.5em;
    display: flex;
    

   }
  
.subtitle {
    padding: 1.5em;
    display: flex;
    
}   

.navbar {
    height: 120px;
    width: 100vw;
    background-color: #4056A1;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;


}